Django
djangorestframework
django_tables2
django-private-storage
social-auth-app-django
django-filter
tablib
psycopg2-binary
Pillow
gunicorn[gevent]
amqp
asgiref
billiard
celery[redis]
click
click-didyoumean
click-plugins
click-repl
django-celery-beat
kombu
prompt-toolkit
pytz
redis
six
sqlparse
vine
wcwidth
